@import base.sass
@import constants.sass
  
h0
  @extend %title-like
  display: block
  color: white
  font-size: 100pt

h1
  @extend %title-like
  font-size: 70pt

h2
  @extend %title-like
  font-size: 50pt

h3
  font-size: 30pt

#main
  margin: 0 20px

#map
  height: 500px
  display: flex
  justify-content: center
  align-items: center
  border: 3px solid white

a
  font-family: 'PixelTimes'
  font-size: 35pt
  text-decoration: none

  color: white
  border-bottom: 1px solid white

  &.implicit
    border: none

  &:hover
    color: $main-color
    border-color: $main-color

.link
  display: inline-block
  margin-right: 30px

.links
  line-height: 1.5

.rating
  font-family: 'PixelTimes'
  font-size: 30pt
  font-weight: normal

.buttons
  display: flex
  width: 100%
  max-width: 500px

  & .button
    flex-basis: 0
    display: flex
    justify-items: center
    align-items: center
    border-radius: 10px
    padding: 5px 20px
    margin-right: 10px

    &.good
      background-color: $main-color

    &.bad
      background-color: $red

    & a:hover
      color: white

.report
  width: 100%
  max-width: 600px

.vote
  display: inline-block
  margin-right: 50px

  .vote-button
    display: inline-block
    margin-right: 10px

    &.up
      color: $main-color
    &.down
      color: $red
    