@font-face {
  font-family: "PixelTimes";
  src: url(/static/fonts/PixelTimes.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bahnschrift";
  src: url(/static/fonts/Bahnschrift.ttf);
  font-weight: normal;
  font-style: normal;
}
.green {
  color: #00B050;
}

.red {
  color: #EE0000;
}

* {
  padding: 0;
  margin: 0;
  position: relative;
}

html {
  height: 100%;
}

.pixel {
  font-family: "PixelTimes";
}

body {
  background-color: #080808;
  font-family: "Bahnschrift";
  font-weight: normal;
  font-variation-settings: "wght" 300;
  font-size: 16pt;
  min-height: 100%;
  color: white;
  padding-bottom: 100px;
}

header {
  background-color: #00B050;
  padding-left: 20px;
}
header h1 {
  color: black !important;
}

sspace {
  display: block;
  height: 10px;
}

mspace {
  display: block;
  height: 30px;
}

lspace {
  display: block;
  height: 50px;
}

xspace {
  display: block;
  height: 100px;
}
@font-face {
  font-family: "PixelTimes";
  src: url(/static/fonts/PixelTimes.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bahnschrift";
  src: url(/static/fonts/Bahnschrift.ttf);
  font-weight: normal;
  font-style: normal;
}
h2, h1, h0, hmax {
  font-family: "PixelTimes";
  font-weight: bold;
}

.green {
  color: #00B050;
}

.red {
  color: #EE0000;
}

* {
  padding: 0;
  margin: 0;
  position: relative;
}

html {
  height: 100%;
}

.pixel {
  font-family: "PixelTimes";
}

body {
  background-color: #080808;
  font-family: "Bahnschrift";
  font-weight: normal;
  font-variation-settings: "wght" 300;
  font-size: 16pt;
  min-height: 100%;
  color: white;
  padding-bottom: 100px;
}

header {
  background-color: #00B050;
  padding-left: 20px;
}
header h1 {
  color: black !important;
}

sspace {
  display: block;
  height: 10px;
}

mspace {
  display: block;
  height: 30px;
}

lspace {
  display: block;
  height: 50px;
}

xspace {
  display: block;
  height: 100px;
}

hmax {
  display: block;
  font-size: 200pt;
}

h0 {
  display: block;
  color: white;
  font-size: 100pt;
  line-height: 1;
}

h1 {
  font-size: 70pt;
}

h2 {
  font-size: 50pt;
}

h3 {
  font-size: 30pt;
}

#main {
  margin: 0 20px;
}

#map {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
}
#map a {
  font-size: 10pt;
}

a {
  font-family: "PixelTimes";
  font-size: 35pt;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}
a.implicit {
  border: none;
}
a:hover {
  color: #00B050;
  border-color: #00B050;
}

.link {
  display: inline-block;
  margin-right: 30px;
}

.links {
  line-height: 1.5;
}

.rating {
  font-family: "PixelTimes";
  font-size: 30pt;
  font-weight: normal;
}

.buttons {
  display: flex;
  width: 100%;
  max-width: 500px;
}

.button {
  flex-basis: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px 20px;
  margin-right: 10px;
}
.button.good {
  background-color: #00B050;
}
.button.bad {
  background-color: #EE0000;
}
.button a:hover {
  color: white;
}

.report {
  width: 100%;
  max-width: 600px;
}

.vote {
  display: inline-block;
  margin-right: 50px;
}
.vote .vote-button {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
.vote .vote-button.up {
  color: #00B050;
}
.vote .vote-button.down {
  color: #EE0000;
}

textarea {
  width: 100%;
  max-width: 800px;
  height: 400px;
  background-color: black;
  border-color: white;
  color: white;
  outline: none;
  padding: 10px;
  font-size: 20pt;
}

input[type=text], input[type=password] {
  display: block;
  width: 100%;
  max-width: 400px;
  height: 50px;
  background-color: black;
  border-color: white;
  color: white;
  outline: none;
  padding: 10px;
  font-size: 20pt;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}

.primary-button {
  border: none;
  padding: 15px 25px;
  color: white;
  border-radius: 10px;
  font-size: 25pt;
  white-space: nowrap;
  font-family: "PixelTimes";
  cursor: pointer;
}
.primary-button.green {
  background-color: #00B050;
}
.primary-button.red {
  background-color: #EE0000;
}
