html
  head
    title=title

    link(href="/static/css/style.css", rel="stylesheet", type="text/css")
    link(rel="shortcut icon", href="/static/img/favicon.ico", type="image/x-icon")

    script(src='https://code.jquery.com/jquery-3.6.0.js')
    script(src="/reload/reload.js")
    
  body
    block content
    script(src="/static/bundle.js")
