extends base.pug

block content
  div#main
    script(src="https://api-maps.yandex.ru/2.1/?apikey=c4444cfb-7e06-4ac9-a285-370799bb43c8&lang=ru_RU", type="text/javascript")
    h1.green
      | District 61

    sspace
    
    div#map
      script(src='/static/js/map.js')

    mspace

    h2.green
      | Районы

    .links
      each district in districts
        .link
          a(href=`/district/${district.id}`)
            =district.name
